# Introduction to ETL operations with Pandas and SQLAlchemy


Install the necessary dependencies; pandas, pscopg2, and sqlalchemy

In [ ]:
pip install pandas  #Python library used for data manipulation and analysis.

In [ ]:
pip install psycopg2  #DBAPI, Python postgreSQL database adapter driver to for sqlachemy

In [ ]:
pip install sqlalchemy  #SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL


Import the dependencies

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import datetime

Using Pandas read the project csv file as <mark>df_1</mark>

In [ ]:
df_1 = pd.read_csv('weight-height-updated.csv')

In [ ]:
df_1.head()

In [ ]:
df_1.shape  #Display the number of rows and columns

In [ ]:
df_1.isnull().sum() #Checks the total count of null values.

In [ ]:
df_1.dtypes  #Checks the data type for each column.

In [ ]:
df_1.describe()  #Display descriptive statistics.

In [ ]:
cv = (32.11/161.44)*100
cv

In [ ]:
c_v1 = (11.44/1985.36)*100 #cv<10%, therefore can use mean to fill nulls
c_v1

In [ ]:
df_1['Born_Year'] = df_1['Born_Year'].fillna(df_1['Born_Year'].mode()[0])  #Calculated column.

In [ ]:
df_1.isnull().sum()

In [ ]:
#Drop
#df_1.dropna() #drops rows with missing values
#df_1.dropna(axis=1) #drops columns with missing values

In [ ]:
df_1['Born_Year'] = df_1['Born_Year'].astype(int) #Change data type for the Born Year column.
df_1.dtypes

In [ ]:
df_1.head()

In [ ]:
df_1['BMI'] = (df_1['Weight'] / (df_1['Height'])**2) * 703  #Calculated column for body mass index.
df_1.head()

In [ ]:
df_1['Current_Year'] = datetime.datetime.now().year #Calculated column for Current Year.
df_1.head()

In [ ]:
df_1['Age'] = df_1['Current_Year'] - df_1['Born_Year']  #Calculated column for Age.
df_1.head()

In [ ]:
#Function that returns bmi category for each value in the BMI column.

def bmi_category(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif bmi < 24.9:
        return "Normal Weight"
    elif bmi < 29.9:
        return "Overweight"
    elif bmi < 34.9:
        return "Obesity Class I"
    elif bmi <= 39.9:
        return "Obesity Class II"
    else:
        return "Obesity Class III"

df_1['BMI_Category'] = df_1['BMI'].apply(bmi_category)  #Call the function for each value of BMIs
df_1.head()

In [ ]:
df_1.dtypes

In [ ]:
df_1.head()

In [ ]:
df_1.head()

In [ ]:
df_1.columns

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:1234\
@localhost:5432/student_depression')


Loadind the dataframe into a database under the schema, healthtest.

In [ ]:
df_1.to_sql('weight_height', engine, if_exists='replace', index=False, schema='healthtest')


Reading data from a sql database with pandas function read_sql()

In [ ]:
df_2 = pd.read_sql('SELECT * FROM healthtest.weight_height LIMIT 10', engine)
df_2